{% set class = options ? options.class : 'gr-summary' %}
{% set id = options ? options.id : 'gr-summary' %}

<section class="{{ class }}" id="{{ id }}">

    <div class="gr-average">
        <span class="gr-average-number">{{ average }}</span>        
        <span class="gr-average-title">{{ "Average Review" }}</span>
    </div>
    
    <div class="gr-average-stars">
    {% for star in range(1, 5) %}
        {% if loop.index <= stars.total %}
            <svg width="16px" height="15px" viewBox="0 0 11 10" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><path d="M4.817,0.652 C4.954,0.249 5.177,0.249 5.316,0.652 L6.152,3.1 C6.29,3.503 6.749,3.837 7.174,3.843 L9.761,3.881 C10.188,3.887 10.256,4.1 9.916,4.357 L7.844,5.908 C7.504,6.165 7.327,6.704 7.453,7.112 L8.217,9.584 C8.343,9.99 8.16,10.121 7.815,9.877 L5.7,8.387 C5.351,8.141 4.783,8.141 4.435,8.387 L2.319,9.877 C1.969,10.121 1.789,9.99 1.915,9.584 L2.681,7.112 C2.806,6.704 2.629,6.165 2.288,5.908 L0.217,4.357 C-0.124,4.1 -0.054,3.887 0.371,3.881 L2.959,3.843 C3.385,3.837 3.845,3.503 3.982,3.1 L4.817,0.652 Z" fill="#000000" fill-rule="nonzero"></path></g></svg>
        {% else %}
            <svg width="16px" height="15px" viewBox="0 0 11 10" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><path d="M7.79141511,9.648 C7.61941511,9.648 7.44441511,9.585 7.25741511,9.452 L5.34641511,8.105 C5.20241511,8.004 4.88741511,8.002 4.74241511,8.105 L2.83241511,9.452 C2.43341511,9.735 2.02941511,9.695 1.81941511,9.411 C1.67941511,9.223 1.65741511,8.973 1.75241511,8.669 L2.44041511,6.436 C2.49641511,6.257 2.40441511,5.972 2.25341511,5.859 L0.38241511,4.46 C-0.0505848899,4.135 -0.0245848899,3.807 0.0294151101,3.642 C0.0834151101,3.476 0.25441511,3.198 0.79641511,3.191 L3.13341511,3.157 C3.32041511,3.154 3.56041511,2.978 3.62141511,2.802 L4.37741511,0.59 C4.55241511,0.077 4.87041511,0 5.04541511,0 C5.21941511,0 5.53741511,0.077 5.71241511,0.59 L6.46741511,2.802 C6.52941511,2.98 6.76941511,3.156 6.95541511,3.157 L9.29241511,3.191 C9.85541511,3.199 10.0164151,3.508 10.0594151,3.644 C10.1144151,3.81 10.1394151,4.134 9.70541511,4.459 L7.83541511,5.859 C7.68641511,5.971 7.59341511,6.255 7.64741511,6.435 L8.33841511,8.666 C8.43341511,8.971 8.40941511,9.221 8.27141511,9.409 C8.15941511,9.561 7.98541511,9.648 7.79141511,9.648 Z M1.48741511,4.113 L2.81541511,5.112 C3.28541511,5.466 3.50541511,6.152 3.33441511,6.711 L2.83441511,8.329 L4.20441511,7.343 C4.66741511,7.018 5.42741511,7.02 5.88541511,7.343 L7.24241511,8.299 L6.75641511,6.711 C6.58341511,6.149 6.80641511,5.463 7.27641511,5.112 L8.60541511,4.117 L6.94541511,4.089 C6.35741511,4.081 5.77341511,3.656 5.58541511,3.102 L5.05041511,1.531 L4.50941511,3.102 C4.32141511,3.658 3.73741511,4.081 3.14941511,4.089 L1.48741511,4.113 Z" fill="#000000" fill-rule="nonzero"></path></g></svg>
        {% endif %}

        {% if loop.last %}
            <span class="gr-average-total-votes">({{ totalVotes }})</span>
        {% endif %}
    {% endfor %}
    </div>


    {# <div>
        <div>5 Stars: {{ stars.five }}</div>
        <div>4 Stars: {{ stars.four }}</div>
        <div>3 Stars: {{ stars.three }}</div>
        <div>2 Stars: {{ stars.two }}</div>
        <div>1 Stars: {{ stars.one }}</div>
    </div> #}

</section>